@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.login-page {
    background: linear-gradient(90deg, rgba(249,154,147,1) 0%, rgba(249,196,130,1) 100%);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-container {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 70%;
    height: 600px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    text-align: center;
    align-items: center;
}

.login-cover {
    /* background-color: #60607d; */
    background-image: url("/public/smartseee_bg.png");
    background-position: center;
    background-size: cover;
    border-radius: 10px 0 0 10px ;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: white;
}

.login-title {
    color: #60607d;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-btn {
    border: none;
    background-color: #60607d;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    width: 50%;
    height: 50px;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}

.account-apply {
    margin-top: 20px;
}

#password, #email {
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    height: 40px;
    width: 80%;
}

.login-btn:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 1000px) {
    .login-container {
        flex-direction: column;
        row-gap: 10px;
    }

    .login-cover {
        background-color: #60607d;
        border-radius: 10px 10px 0 0 ;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        color: white;
    }

    .login-fields {
        padding-bottom: 10px;
    }
}



